@import './variables.scss';
@import './common.scss';

.container {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: $default-font-family;
	font-size: $default-font-size;

	&-main {
		display: flex;
		flex-flow: column nowrap;

		.header {
			background: $bg-black;
			height: 80px;
			&-text {
				display: inline-block;
				color: $text-color;
				font-weight: $font-700;
				font-size: 2.5rem;
				padding: 1rem;
			}
		}

		.content {
			display: flex;
			flex-flow: column wrap;
			padding: 1rem;
			gap: 1rem;

			.info-message {
				display: flex;
				flex-direction: row;
				justify-content: center;
			}

			.file-uploader-container {
				.upload-section {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					gap: 1rem;

					.file-input {
						width: 0.1px;
						height: 0.1px;
						opacity: 0;
						overflow: hidden;
						position: absolute;
						z-index: -1;
					}
					.file-input-icon {
						color: $primary-color;
						cursor: pointer;
						margin: 0 2rem;

						&:hover {
							color: darken($color: $primary-color, $amount: 10%);
						}
					}

					.file-upload {
						&-success {
							color: $success-color;
						}
						&-error {
							color: $error-color;
						}
					}
				}
				.datagrid-section {
					overflow-x: scroll;
					margin-top: 1rem;

					.loading {
						position: sticky;
						bottom: 0;
						background: $gray-color;
						height: 50px;
					}

					.top-grid-bar {
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding: 1rem 0.5rem;

						.search-section {
							.search-box {
								padding: 0.5rem;
								border: 1px solid $light-black;
								border-radius: 0.5rem;
								width: 300px;

								input {
									border: none;
									outline: 0;
									width: 260px;
								}
							}
						}
						.disabled {
							pointer-events: none;
							opacity: 0.5;
							cursor: not-allowed !important;
						}

						.filter-section {
							.filters-container {
								position: absolute;
								border: 1px solid $gray-color;
								box-shadow: 1px 1px 5px 1px $gray-color;
								border-radius: 5px;
								background: $text-color;
								top: auto;
								left: auto;
								transform: translate(-90%, 3%);
								z-index: 2;
								min-width: 250px;
								min-height: 150px;

								&-content {
									padding: 1rem;
									max-height: 200px;
									min-width: 250px;
									overflow-y: auto;

									div {
										padding: 0.5rem;
										width: calc(100% - 1rem);

										select,
										input[type='number'] {
											padding: 0.25rem 0.5rem;
											border: 1px solid $gray-color;
											border-radius: 6px;
											width: inherit;
										}

										input[type='radio'] {
											width: 1rem;
											height: 1rem;

											&:checked {
												accent-color: $light-black;
												background: $light-gray-color;
											}
										}
									}
								}

								&-footer {
									border-top: 1px solid $gray-color;
									padding: 1rem;
									display: flex;
									justify-content: space-evenly;
								}

								&-item {
									padding: 1rem;
								}
							}
						}
					}
				}
			}
		}
	}
}
